<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	 "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="log4jInitialization"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>${log4j.file}</value>
			</list>
		</property>
	</bean>


    <bean id="placeholderConfigEX" class="com.appframework.agent.util.PropertyPlaceholderConfigurerEX">
        <property name="location">
            <value>${agent.file}</value>
        </property>
        <property name="fileEncoding">
            <value>utf-8</value>
        </property>
        <property name="secutiry">
            <value>false</value>
        </property>
        <property name="desEncrypt">
            <ref local="desEncrypt" />
        </property>
    </bean>

    <bean id="desEncrypt" class="com.appframework.agent.util.DESEncrypt"/>

<!--	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="./conf/agent.conf" />
	</bean>-->

	<!-- <bean id="clearSTSDataTask" class="com.moto.agent.snmp.util.ClearSTSDataTask"
		init-method="init">
		<property name="appContext">
			<ref bean="appContext"></ref>
		</property>
	</bean> -->


	<bean id="snmpMain" class="com.appframework.agent.snmp.SnmpMain"
		init-method="run">
		<property name="appContext">
			<ref bean="appContext"></ref>
		</property>
	</bean>

    <bean id="appContext" class="com.appframework.agent.util.AppContext">


    </bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>${sql.server.db.driver}</value>
		</property>
		<property name="url">
			<value>${sql.server.db.url}</value>
		</property>
		<property name="username">
			<value>${sql.server.db.username}</value>
		</property>
		<property name="password">
			<value>${sql.server.db.password}</value>
		</property>
		<property name="maxActive">
			<value>12</value>
		</property>
	</bean>

</beans>
